parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method object&TValue of mixed\:\:toArray\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Utility/Collection.php

		-
			message: '#^Call to function method_exists\(\) with object&TValue of mixed and ''toArray'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Utility/Collection.php
