parameters:
    level: 8
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    reportAlwaysTrueInLastCondition: true
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - lang
        - src
    ignoreErrors:
        -
            identifier: trait.unused
            paths:
                - src/ORM/Traits/*.php
                - src/TestSuite/Traits/*.php
