includes:
    - phpstan-baseline.neon
parameters:
    level: 1
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - bootstrap.php
        - ../config/functions.php
    paths:
        - config
        - lang
        - Mock
        - TestCase
        - autoload.php
        - bootstrap.php
        - server.php